
/* App contains two components. The top panel and the bottom pannel */
.App { 
  text-align: center;
  display: grid;
  grid-template-rows: 50px 1fr; /* Top panel fixed at 50px. The second panel fills to screen. */ 
  height: 100vh; /* Fills entire height*/ 
  width: 100vw; /* Fills entire width*/ 
}

/* TopPanel contains one component. Toolbar. */
.TopPanel {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Fills to parent width (100vw) */
}

/* BottomPanel contains three components. Chart tools, Chart, Stock Data. */
.BottomPanel {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Fills to parent width (100vw) */
  grid-template-columns: 50px 1fr 300px; /* Toolbar fixed at 50px. The chart fills to screen. Stock data fixed at 300px. */ 
}
